{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details. (Still under development)" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}
        <p>{% trans "Still looking for payment options libaries, I've listed a few here:" %}</p>
        <ul>
            <li><a href="https://github.com/django-oscar/django-oscar-paypal">django-paypal</a></li>
            <li><a href="https://github.com/django-oscar/django-oscar-datacash">django-datacash</a></li>
            <li><a href="https://github.com/django-oscar/django-oscar-gocardless">django-gocardless</a></li>
            <li><a href="https://github.com/django-oscar/django-oscar-paymentexpress">django-paymentexpress</a></li>
            <li><a href="https://github.com/django-oscar/django-oscar-accounts">django-accounts</a></li>
        </ul>
        <p>{% trans "Checking out without paying works for now though.." %}</p>
        <a id="view_preview" href="{% url 'checkout:preview' %}" class="btn btn-primary btn-lg">{% trans "Continue" %}</a>
    {% endblock payment_details_content %}
{% endblock payment_details %}
